[2012-11-07 17:58] sindresorhus opened #1 "Old logos"
browser_logos-512.png uses the old Chrome and IE logo.

[2012-11-08 14:34] #1 closed, assigned to nobody

[2012-11-10 13:43] Luit opened #7 "Chromium is missing?"
I know it's not different from the regular Chrome feature-wise, but someone might want to use the Chromium logo instead. Any reasons not to include it here?

[2012-11-14 21:13] claytron opened #8 "Add the various Firefox channels"
Firefox has different logos for each channel (Beta, Aurora and Nightly).

https://www.mozilla.org/en-US/firefox/channel/

http://nightly.mozilla.org/

The unofficial builds used to have a special logo as well. I'm not sure if there is still a prescribed logo for that. If there is, this could be added too.

[2012-11-16 08:25] #7 closed, assigned to nobody

[2012-11-16 08:26] #8 closed, assigned to nobody

[2012-11-21 09:35] pavelloz opened #15 "Current Firefox logo"
Straight from the official style [guide](http://www.mozilla.org/en-US/styleguide/identity/firefox/branding/):

https://assets.mozillalabs.com/Brands-Logos/Firefox/logo-only/firefox_logo-only_RGB.png

It has higher resolution, one can even consider it as a wallpaper. :)

[2012-12-07 09:34] #15 closed, assigned to nobody

[2013-02-10 09:02] pankajparashar-zz opened #16 "New IE10 Official Logos"
IE10 SVG - 300 × 300 (Size: 4 Kb)
http://upload.wikimedia.org/wikipedia/en/e/e2/Internet_Explorer_10_icon.svg

<p class="SVGThumbs">This image rendered as PNG in other sizes: <a href="//upload.wikimedia.org/wikipedia/en/thumb/e/e2/Internet_Explorer_10_icon.svg/200px-Internet_Explorer_10_icon.svg.png">200px</a>, <a href="//upload.wikimedia.org/wikipedia/en/thumb/e/e2/Internet_Explorer_10_icon.svg/5

[2013-03-12 15:24] James-E-A opened #17 "Are versions without drop shadows being planned?"
I was just wondering whether it's on the agenda at all to provide alternate versions of the icons, either with or without drop shadows. In some cases, the icon may look better without one (for example, in an application launch menu.)

I know that it can be tricky to remove an already existing shadow, but, provided it doesn't violate any branding issues, it would be much appreciated.

P.S., looking

[2013-03-30 00:19] dimitrieh opened #18 "browser icon font"
Don't know if this comes in handy, but I created a quick browser icon font which I needed myself for this awesome webapp http://filevoid.net (which is almost finished)! :)

credits are mostly fontello, but i created the safari icon really quickly myself off of some template image.

you can download and check it out here:
https://dl.dropbox.com/u/9794784/browserIconfont80712.zip

created with icomo

[2013-05-01 07:24] #16 closed, assigned to nobody

[2013-05-04 04:26] devilankur18 opened #21 "Mobile Browser Icons"
Icons for native browsers of ios, andorid and other platforms should be added to this.

Make sense ?

[2013-06-05 18:57] alrra opened #23 "Add Opera Developer logo"
![screen shot 2013-06-05 at 9 55 41 pm](https://f.cloud.github.com/assets/1223565/614009/a130522c-ce11-11e2-9c42-5809a6f2df91.png)

(from: http://my.opera.com/desktopteam/blog/opera-features-and-release-cycle)

[2013-06-11 10:37] alrra opened #24 "Add Safari for iOS 7 logo"
![safari_icon](https://f.cloud.github.com/assets/1223565/636439/bba0c73e-d282-11e2-8525-8cf1268d333f.jpg)

(from: http://www.apple.com/ios/ios7/features/#safari)

[2013-06-11 10:44] #21 closed, assigned to nobody

[2013-06-28 02:06] patrickkettner opened #25 "Update Firefox logos"
[firefox updated their logo](http://blog.mozilla.org/creative/2013/06/27/a-new-firefox-logo-for-a-new-firefox-era/)

![firefox](https://f.cloud.github.com/assets/465414/719760/0d49678c-df97-11e2-8e5a-df98dbc171e3.png)
Not doing a pull until the official assets page is updated, but leaving this here as a reminder to update soon

[2013-06-28 05:38] #17 closed, assigned to nobody

[2013-06-28 06:11] #18 closed, assigned to nobody

[2013-07-02 14:39] mathiasbynens opened #27 "Script that automatically generates `all-desktop.png`"
A shell script that automatically generates `all-desktop.png` based on the other files in the repository would be super useful.

[2013-07-08 11:09] #27 closed, assigned to nobody

[2013-07-08 16:54] #25 closed, assigned to nobody

[2013-07-17 09:51] #23 closed, assigned to nobody

[2013-07-19 04:19] saada opened #29 "NETSCAPE ='("
Y U NO NETSCAPE ='(

[2013-07-19 18:32] #29 closed, assigned to nobody

[2013-07-23 16:02] thany opened #31 "SVG versions?"
Can SVG versions be added for when 256px isn't enough?

[2013-07-23 16:34] #31 closed, assigned to nobody

[2013-07-25 17:22] Daniel-Hug opened #33 "Add Firefox UX Nightly browser logo?"
I don't know that you would want to include it, but Firefox Nightly has a ["UX" build](http://people.mozilla.org/~jwein/ux-nightly/) with a [special logo](http://people.mozilla.org/~jwein/ux-nightly/uxnightly.png). I can't find a version with a transparent bg though.

![Firefox UX Nightly](http://people.mozilla.org/~jwein/ux-nightly/uxnightly.png)

[2013-08-04 22:39] #33 closed, assigned to nobody

[2013-08-21 22:08] nstepien opened #34 "Chrome logo(s)"
1. The PNGs don't seem to get rendered properly, it's missing the kind-of-shadows that look like `6`s. The colors/gradients seem a bit off too. Reference: https://plus.google.com/+chrome
2. The logo for Chrome on Android is also different, I don't know what's up with that: https://play.google.com/store/apps/details?id=com.android.chrome

[2013-08-27 00:29] #34 closed, assigned to nobody

[2013-09-23 17:39] #24 closed, assigned to nobody

[2013-11-18 11:17] rjc opened #38 "Add Arora browser logo?"
Hi,

It's great to see all the mainstream browser logos here along with some very niche ones.

One, however, is still missing - [arora](https://code.google.com/p/arora/), a lightweight WebKit-based browser. I'd appreciate if you could include in your list.

Kind regards,

rjc

[2013-11-18 11:49] #38 closed, assigned to nobody

[2013-11-19 10:42] rssems opened #40 "SVG"
What about SVG format? I love vectors.

[2013-11-19 11:01] #40 closed, assigned to nobody

[2013-11-21 05:28] lukeupup opened #42 "Add Palemoon Logo"
Pale moon's homepage:
http://www.palemoon.org/

[2013-11-21 07:16] #42 closed, assigned to nobody

[2013-12-15 08:17] impressivewebs opened #43 "SRWare Iron"
http://www.srware.net/en/software_srware_iron.php

Doesn't seem to have a logo though and it's pretty much a Chrom clone. I suppose you could try to obtain the SRWare logo and use that.

[2013-12-16 08:36] alrra opened #44 "Wanted browser logos"
Below is a list of browser logos that we are currently looking for. If you find a decent version (`512⨯512px` or higher) of any of those browser logos, feel free to open a pull request.

For new requests, just leave a comment below.

---

| [Comodo IceDragon](http://www.comodo.com/home/browsers-toolbars/icedragon-browser.php) |
| :-: |
| <img src="https://f.cloud.github.com/assets/1223565/1752756/

[2013-12-16 08:37] #43 closed, assigned to nobody

[2014-05-07 05:03] sorccu opened #45 "Add Android default browser logo?"
The current browser list seems to be quite exhaustive, so I was surprised to find that the [Android default browser icon](http://www.pocketables.com/images/2013/03/aosp-browser-icon.png) is not there. You'd think someone other than me would have needed it by now... so I was just wondering if there's a reason it's not included, or is it simply because there hasn't been a pull request for it?

[2014-05-07 07:00] #45 closed, assigned to nobody

[2014-06-02 17:55] alrra opened #46 "Add new Safari 8 logo (OS X Yosemite)"
How it looks:

![](https://cloud.githubusercontent.com/assets/1223565/3152085/cbd2b2fa-ea89-11e3-9835-9d6f3e5be216.png)

(from: https://www.apple.com/osx/preview/)

[2014-06-11 12:21] #46 closed, assigned to nobody

[2014-06-16 14:20] alrra opened #47 "Add Internet Explorer Developer Channel logo"
How it looks:

![](https://cloud.githubusercontent.com/assets/1223565/3288956/b6a50304-f567-11e3-8c72-91c1864336d2.png)
##

See also:
- http://devchannel.modern.ie/
- http://blogs.msdn.com/b/ie/archive/2014/06/16/announcing-internet-explorer-developer-channel.aspx

[2014-06-20 15:04] #47 closed, assigned to nobody

[2014-07-31 20:03] miketaylr opened #49 "Blurry icons?"
Why are all the smaller icons so blurry? Compare

iconarchive: ![http://icons.iconarchive.com/icons/google/chrome/48/Google-Chrome-icon.png](http://icons.iconarchive.com/icons/google/chrome/48/Google-Chrome-icon.png)

with

this repo: ![https://raw.githubusercontent.com/alrra/browser-logos/master/chrome/chrome_48x48.png](https://raw.githubusercontent.com/alrra/browser-logos/master/chrome/chrome_48

[2014-08-01 12:58] #49 closed, assigned to nobody

[2014-09-04 11:59] #44 closed, assigned to nobody

[2014-12-01 13:10] soullivaneuh opened #52 "Add Bower support?"
Hi and thanks for your package.

Could be possible to have a bower.json and bower.io registration?

It will free us of have to use this configuration:

[code]

And we can just use this:

[code]

And get last updates. :+1:

Thanks.

[2014-12-01 13:50] #52 closed, assigned to nobody

[2014-12-10 23:46] paulirish opened #54 "Add image of key mobile browsers?"
Even though it's not obvious what to do for Android browser... I think we should try.

Android  b, mobile safari, android chrome, blackberry, IE mobile.

[2014-12-16 09:49] #54 closed, assigned to nobody

[2015-01-09 12:43] alrra opened #58 "Naenara (내나라) logo"
I was reading [this blog post](https://web.archive.org/web/20150108223420/https://blog.whitehatsec.com/north-koreas-naenara-web-browser-its-weirder-than-we-thought/) yesterday and I decided to [install](http://www.openingupnorthkorea.com/downloads-2) North Korea’s [Red Star OS](http://en.wikipedia.org/wiki/Red_Star_OS) just to see how it is. While fiddling around, I also extracted Red Star's Naena

[2015-01-09 12:43] #58 closed

[2015-01-11 02:05] vladikoff commented on #58
Hah this is awesome! Great work!

[2015-01-21 18:23] alrra opened #59 "Add logo for Microsoft Edge"
![](https://cloud.githubusercontent.com/assets/1223565/5842233/ccfb159e-a1ab-11e4-9466-dfa66492e538.png)

See also:

* http://blogs.msdn.com/b/ie/archive/2015/01/22/project-spartan-and-the-windows-10-january-preview-build.aspx
* https://twitter.com/ppk/status/560072947613057024

[2015-01-23 12:14] passy commented on #58
Amazing! :D

[2015-01-24 19:45] sindresorhus commented on #58
![image](https://cloud.githubusercontent.com/assets/170270/5888678/5e496fa6-a444-11e4-9de6-50c20bfa00a7.png)

[2015-01-24 19:48] arthurvr commented on #58
Nice Cătălin!

[2015-01-24 19:48] sindresorhus commented on #58
![image](https://cloud.githubusercontent.com/assets/170270/5888700/018f75ac-a445-11e4-8c44-2ffd2427e86b.png)

[2015-01-24 19:51] sindresorhus commented on #58
![giphy](https://cloud.githubusercontent.com/assets/170270/5888702/19a13130-a445-11e4-9271-1dcbfa43d787.gif)

[2015-01-27 09:39] mathiasbynens opened #60 "Add logo for Vivaldi browser"
https://vivaldi.com/

[2015-01-27 09:40] alrra commented on #60
@mathiasbynens Already [did](https://github.com/alrra/browser-logos/commit/94b00848b5730245b47f7d0aaae90ff3a5352111). :)

[2015-01-27 09:40] #60 closed

[2015-03-10 17:50] zg opened #63 "Google Chrome svg (and possibly png?)"
Consider adding this to the chrome logos (it's in the Public Domain): https://en.wikipedia.org/wiki/Google_Chrome#mediaviewer/File:Google_Chrome_icon_(2011).svg

[2015-03-11 11:45] alrra commented on #63
Closing this in favor of #64.

[2015-03-11 11:45] #63 closed

[2015-03-11 11:48] alrra commented on #59
Closing. When the browser codenamed "Project Spartan" will be released I will reopen this issue if needed. :)

[2015-03-16 12:02] kntsoft opened #65 "Add WaterFox icon"
Hello,

Add the WaterFox's icon browser

https://www.waterfoxproject.org/

Thanks!!!

[2015-03-16 12:47] alrra commented on #65
The logo that is provided with the OS X version is the following:

<img src="https://cloud.githubusercontent.com/assets/1223565/6665986/8343e964-cbe8-11e4-8999-7317f2a045b4.png" width=250 height=250>

However, something doesn't seem right with it (see also the search results for: [_"WaterFox logo"_](https://www.google.com/search?hl=en&biw=1280&bih=694&gbv=2&tbm=isch&sa=1&q=WaterFox+logo&oq=WaterFo

[2015-03-16 14:49] kntsoft commented on #65
Yes, it's the same in the Windows version.

[2015-03-16 20:05] #65 closed

[2015-03-16 20:13] alrra commented on #65
@kntsoft Done in https://github.com/alrra/browser-logos/commit/a75786248210ada7dfc3ee97e1a5165867b30b26.

[2015-03-16 20:28] MrAlex94 commented on #65
That's the correct logo. I can ask the designer for the SVG version if there is one, if you still need it?

[2015-03-16 20:30] alrra commented on #65
@MrAlex94 Thanks for confirming!

@MrAlex94 Sure! :)

[2015-03-17 08:29] kntsoft commented on #65
Thanks!!!!

[2015-03-24 06:02] alrra commented on #59
![](https://cloud.githubusercontent.com/assets/1223565/6796459/237590d6-d1fc-11e4-8828-5d0b6e3ad71e.png)

[2015-03-24 06:42] jacobrossi commented on #59
Just FYI, this is a placeholder icon.  Official names and logos will follow in the future. So no need to add this quite yet ;-)

[2015-03-24 06:55] alrra commented on #59
@jacobrossi Yes, I know, see the twitter link in my first [comment](https://github.com/alrra/browser-logos/issues/59#issue-55057011). The role of this issue if mainly to see how things evolve and track the changes.

Also, thanks for your comment, I sincerely appreciate it!

[2015-03-25 11:10] alrra commented on #65
@MrAlex94 ping :)

[2015-04-05 22:13] MrAlex94 commented on #65
Sorry for the late reply everyone! The designer doesn't have any SVG versions but the logo is getting another update soon so I should be able to give you guys everything then :-)

[2015-04-06 07:18] kntsoft opened #66 "Add QupZilla Logo"
Hello,

I found a Browser without Logo. The browser is QupZilla.

There are the links:
Official website: www.qupzilla.com
Github link: https://github.com/QupZilla/

The logo:
![Logo of QupZilla](https://github.com/QupZilla/qupzilla/blob/v1.8/linux/hicolor/128x128/apps/qupzilla.png?raw=true)

[2015-04-06 07:22] alrra commented on #65
Thanks for the update @MrAlex94!

[2015-04-06 09:38] alrra commented on #66
@kntsoft Thanks for opening this issue, but unfortunately, I couldn't find a decent version of the logo (`512x512px` or higher). If you find one feel free to open a pull request. :)

@kntsoft There are still [quite a few](https://github.com/alrra/browser-logos/issues/44) browsers for which we don't have their logos. :)

[2015-04-06 09:38] #66 closed

[2015-04-29 17:51] alrra commented on #59
The name of the browser is **Microsoft Edge**

![screen shot 2015-04-29 at 20 50 44](https://cloud.githubusercontent.com/assets/1223565/7397494/83d85ebe-eeb1-11e4-9cb6-8cee14bec47a.png)

[2015-04-29 18:21] alrra commented on #59
![Microsoft Edge browser logo](https://cloud.githubusercontent.com/assets/1223565/7398117/94c9a558-eeb5-11e4-80aa-d10785ce3b26.png)

[2015-04-29 18:56] alrra commented on #59
![](https://cloud.githubusercontent.com/assets/1223565/7398874/864c07aa-eeba-11e4-89f6-157bd1d52f4a.jpg)

[2015-04-29 19:11] alrra commented on #59
Microsoft Edge Logo:

* png: https://www.dropbox.com/s/cd6pvt6kvczgml9/edge-logo.png?dl=0
* svg: https://www.dropbox.com/s/idjejxdxm8wf5xn/edge-logo.svg?dl=0

Thanks to @codepo8!

(source: https://twitter.com/codepo8/status/593489653312954369)

[2015-04-29 19:55] #59 closed

[2015-06-15 20:17] paulirish opened #68 "Add new WebKit logo?"
in a new deck from WWDC there is a webkit logo!

https://developer.apple.com/videos/wwdc/2015/  "Using Safari to Deliver and Debug a Responsive Web Design"

http://devstreaming.apple.com/videos/wwdc/2015/5059xl75l59/505/505_using_safari_to_deliver_and_debug_a_responsive_web_design.pdf

![image](https://cloud.githubusercontent.com/assets/39191/8169775/b17d2e66-1360-11e5-8372-94aceb89a803.png)

[2015-06-15 20:19] mathiasbynens commented on #68
@hober Can you help us get a high-res, or even better, an SVG version of this?

[2015-06-15 20:35] hober commented on #68
I'll look into it.

[2015-06-23 19:56] alrra commented on #68
@hober Any luck?

[2015-07-02 00:31] peterkahl opened #69 "Operating System logos?"
This browser logos collection is smashing. Thank you!

Would anyone know where to get a collection of operating systems logos?

[2015-07-02 08:39] alrra commented on #69
@peterkahl Thanks for the kind words!

@peterkahl I don't think there is a repository for that yet (see also: https://github.com/alrra/browser-logos/issues/52#issuecomment-65068696).

[2015-07-02 08:39] #69 closed

[2015-07-10 17:01] Krinkle commented on #68
Hm... is this authoritative though? I don't see it used on http://www.webkit.org/ – though that might just mean they don't prioritise the website.

Also worth checking whether Apple uses this as icon for the OSX WebKit framework API or also for the WebKit open source project as a whole (and by extent, the default browser build they produce).

Apple has logos most all their OSX framework APIs and t

[2015-07-24 20:04] alrra commented on #68
@Krinkle We'll see (same as with [other browser logos](https://github.com/alrra/browser-logos/issues/59)).

---

Note: They recently updated the profile image for the [WebKit Twitter account](https://twitter.com/webkit).

![](https://cloud.githubusercontent.com/assets/1223565/8883207/c190ffe4-3255-11e5-8ea8-b5c21376d28b.png)

--

![New WebKit logo](https://cloud.githubusercontent.com/assets/122356

[2015-07-31 22:07] alrra commented on #68
From: https://twitter.com/webkit/status/627218318458535936

![](https://cloud.githubusercontent.com/assets/1223565/9018648/ac1b4b76-37e9-11e5-9918-85ed31b7694c.png)

[2015-07-31 22:26] Krinkle commented on #68
Nice!

[2015-08-06 14:18] alrra commented on #68
From https://twitter.com/webkit/status/629291123152945152

![](https://cloud.githubusercontent.com/assets/1223565/9113787/1cee44c4-3c5f-11e5-823f-3aac815f9755.png)

--

![](https://cloud.githubusercontent.com/assets/1223565/9113791/235673cc-3c5f-11e5-90d3-68ff27f07961.png)

[2015-08-06 18:39] alrra commented on #68
(The following is mostly for me)

![](https://cloud.githubusercontent.com/assets/1223565/9119883/ce44ad5e-3c81-11e5-9691-6ec8f810ff10.png)

[2015-08-06 18:43] #68 closed

[2015-09-22 07:08] mathiasbynens opened #70 "New Opera logo"
See http://blogs.opera.com/news/2015/09/opera-new-logo-and-brand-identity/

SVG version:

[code]

I’ve tried converting the logo to PNG versions using [svg2png-cli](https://github.com/skyzyx/svg2png-cli) but the quality is a bit disappointing:

[code]

[2015-09-22 07:13] mathiasbynens commented on #70
I’ve tried converting them to PNG versions using [svg2png-cli](https://github.com/skyzyx/svg2png-cli) but the quality is a bit disappointing:

[code]

[2015-09-22 17:51] #70 closed

[2015-09-28 09:23] mathiasbynens commented on #70
https://github.com/operasoftware/logo#readme

[2015-09-28 18:27] alrra commented on #70
:purple_heart:

[2015-10-23 13:52] ngyikp opened #72 "Update Opera Beta and Opera Developer logos"
[Opera Beta:](http://blogs.opera.com/desktop/2015/10/opera-beta-33-0-1990-35-update/)
![Opera Beta installer](http://www-static.opera.com/blogs/multi/wp-content/uploads/sites/3/2015/10/beta-inst.png)

[Opera Developer:](http://blogs.opera.com/desktop/2015/10/opera-developer-34-0-2023-0-update/)
![Opera Developer installer](http://www-static.opera.com/blogs/multi/wp-content/uploads/sites/3/2015/10/

[2015-10-23 15:03] mathiasbynens commented on #72
We’ll add these logos to https://github.com/operasoftware/logo asap.

[2015-11-01 09:37] #72 closed

[2016-01-06 23:19] alrra opened #75 "Correct Opera logo to match official one"
The Opera logo from this repository doesn't match the official one:

|  Logo from repository | Official logo |
|:---|:---|
| <img src="https://cloud.githubusercontent.com/assets/1223565/12157635/ccd2b448-b4db-11e5-9f78-aa32109b32e8.png" width=256 height=256> | <img src="https://cloud.githubusercontent.com/assets/1223565/12157713/62faccda-b4dc-11e5-8251-644c92839b4a.png" width=256 height=256> |

--

[2016-01-06 23:25] alrra commented on #75
[SVG version](https://operasoftware.github.io/logo/dest/logo/full-red.svg).

[2016-01-07 10:45] #75 closed

[2016-01-26 06:01] ImanMh commented on #69
I've also been looking for OS logos and there are a tone of that on internet, but none of them has the quality of this repository. I wish you could at least do the major ones. (linux, mac, windows, android, ios)

[2016-02-02 13:35] Soullivaneuh opened #76 "Semantic versions rules?"
Could you please add a note about how semantic rules work on this project?

I was on 3.* and just see you are on v22.

Major version should be BC breaking but nothing indicated about that on the changelog: https://github.com/alrra/browser-logos/blob/22.0.0/CHANGELOG.md

Could you please explain a little bit?

Thanks.

[2016-02-03 11:16] alrra commented on #76
Sure.

--

Major versions are released every time a path is broken (e.g.: a directory is renamed or moved into  `archive/` without having a replacement). This is done because I consider that to be a breaking change as people who depend on that path will no longer have it.

For example, [`v22.0.0`](https://github.com/alrra/browser-logos/blob/e8f6eaa411da91aaf21949c0bfd63b715dc8a2bb/CHANGELOG.md#220

[2016-02-03 11:16] #76 closed

[2016-02-03 11:31] alrra commented on #75
Ref: https://github.com/operasoftware/logo/issues/13

[2016-02-03 14:58] Soullivaneuh commented on #76
Thanks for the explanation. :-)

I think this should be added on the doc. :+1:

I completly understand the new major for moving file, but you have to push a lot of them. Why not use a more BC keep method? Let me explain my suggestion:

Imagine you are on v1.0.x and you want to archive a logo. You could

* Move the logo on the `archive` folder.
* Create a symbolic link of the old file, pointing to

[2016-02-03 16:56] alrra commented on #76
@Soullivaneuh That would just complicate things a lot without any real benefit as far as I see. Plus, you're just prolonging the inevitable, namely, releasing new `major` versions. Also, given enough time, you will still end up at versions such as `35.y.z`.

That is usually stated (e.g.: [Move `X` logo into the `archive/`](https://github.com/alrra/browser-logos/blob/e8f6eaa411da91aaf21949c0bfd63b7

[2016-02-03 17:09] Soullivaneuh commented on #76
The benefit for user would be to have new update without have to check new majore every week. :-)

Not 35, but a lower number, less major versions...

But I understand, this is harder to maintain, this is just a suggestion. ;-)

[2016-02-04 09:07] Soullivaneuh opened #77 "Logo matcher libraries?"
Do you know if some PHP / JS whatever langage libraries related to your project exists?

Some libraries that can find the corresponding log from `user-agent` string for example. (I think we can do great things with [browscap-php](https://github.com/browscap/browscap-php))

Would be great to setup a list on you Readme, what do you think?

[2016-02-07 21:58] alrra commented on #76
@Soullivaneuh I don't think that's a big problem. From what I've seen, most users only care about the main browsers, and when those browsers update their logos it is usually known, therefore, they will most probably only check / update at that point.

Sure thing, suggestions are always welcomed! :+1:

[2016-02-07 22:04] alrra commented on #77
@Soullivaneuh No.

If there are projects that use the images from this one, sure, we can try that and see if it helps. :)

[2016-02-07 22:04] #77 closed

[2016-02-19 16:01] dbox opened #78 "Hotlinking?"
Do you happen to know github's current policy on hotlinking the images? I did a few searches but all the info seems old.

Thanks!

[2016-02-19 19:50] alrra commented on #78
@dbox If you are referring to linking to `https://raw.githubusercontent.com/...`, I personally [don't recommend it](https://github.com/alrra/browser-logos/blob/3d5bb1bcae901fbcad1885a61da76d6fe3c0ff1c/README.md#getting-the-browser-logos) because as far as I know, it is not intended as a static file hosting service.

Best way to find out is to ask GitHub by sending a email to support@github.com or

[2016-02-19 19:50] #78 closed

[2016-02-19 19:56] dbox commented on #78
ok @alrra thnx for quick response!

[2016-02-20 10:27] mathiasbynens commented on #78
@alrra could use gh-pages for everything, though, or set up a script that copies the images to the gh-pages branch on every commit (I hear there’s a nice little utility you can use for that). Then the images would be hotlinkable and nobody (not even GitHub) would get upset.

[2016-02-20 12:21] dbox commented on #78
@mathiasbynens Thanks that's exactly what I was looking for.

I made this with @alrra 's great icons:
https://github.com/kni-labs/old-browsers

and hotlinking the images is key

[2016-02-20 14:31] alrra commented on #78
@dbox Ah ok, I misunderstood your question.

@mathiasbynens, @dbox The problem with that solution is that some of the [links will end up in a 404 quite fast](https://github.com/alrra/browser-logos/issues/76#issuecomment-179172631). Or, am I missing something?

[2016-02-20 14:39] alrra commented on #78
@dbox Why not use `npm` to fetch and then copy them locally?

[2016-02-20 14:47] dbox commented on #78
The way I'm doing it shouldn't end up in 404s should it?

Npm fetch is new to me. How would that work? I think the key is that the user would just have to copy the one line of code.. super easy to implement.
I have been trying to think about how that line of code could be dynamic via npm...
Open to better solutions!

[2016-02-20 16:33] alrra commented on #78
@dbox For example, you can do the following:

1) Install `browser-logos` as a dev dependency.

[code]

2) Use `npm`'s [`"scripts"` property](https://docs.npmjs.com/misc/scripts) and create a custom command to copy the logos that you need from `node_modules/browser-logos/` to your `img/` directory.

[code]

Note: Depending on which logos you rely on, when you update to a new **major** version of `b

[2016-02-20 22:28] dbox commented on #78
@alrra Thanks so much for the detailed instructions. That's awesome.

I don't think it will be the ideal workflow for what i'm trying to do for [old-browsers](https://github.com/kni-labs/old-browsers), but it definitely gives me ideas for some other repos!:)

[2016-02-23 11:31] alrra commented on #66
@kntsoft Added in https://github.com/alrra/browser-logos/commit/908f990f4ab9edf9d455cabce99077c94fe09e43. :)

[2016-03-30 17:09] alrra opened #79 "Add `Safari Technology Preview` logo"
Ref:

 * https://webkit.org/blog/6017/introducing-safari-technology-preview/
 * https://developer.apple.com/safari/technology-preview/

[2016-03-30 17:43] #79 closed

[2016-03-31 08:40] alrra commented on #70
[20 years of the Opera logo!](https://www.youtube.com/watch?v=1TGppf6GzPQ) :tada:

[2016-04-02 09:17] alrra opened #80 "Add `Samsung Internet` logo"
![Samsung Internet browser logo](https://cloud.githubusercontent.com/assets/1223565/14225473/9580241e-f8cc-11e5-810d-b91ea078f584.png)
--

Ref:

   * [Inside Samsung Internet Beta for Gear VR ](https://www.youtube.com/watch?v=hGNnkFjuxlA)
   * http://developer.samsung.com/resources/samsung-internet

[2016-04-02 09:18] #80 closed

[2016-04-08 20:30] alrra opened #81 "Add `Project Tofino` logo"
![Project Tofino logo](https://cloud.githubusercontent.com/assets/1223565/14396598/2e0168ec-fde1-11e5-8f67-f958b1f1fd02.png)

Ref:

 * https://github.com/mozilla/tofino
 * https://medium.com/project-tofino

--

This experiment is actually pretty functional:

![](https://cloud.githubusercontent.com/assets/1223565/14396229/0b6ba146-fddf-11e5-8e5d-4dbf622a00cf.png)

[2016-04-08 20:31] #81 closed

[2016-04-13 17:54] alrra opened #82 "Update `WebKit Nightly` logo"
| Old logo | New logo |
|:---:|:---:|
| <img src="https://cloud.githubusercontent.com/assets/1223565/14503554/52fc43e8-01b9-11e6-85ee-a24df861e21c.png" alt="WebKit Nightly logo" width=300 height=300> | <img src="https://cloud.githubusercontent.com/assets/1223565/14503516/158864f6-01b9-11e6-8ab2-fd24e81ae309.png" alt="WebKit Nightly logo" width=300 height=300> |

--

![](https://cloud.githubusercon

[2016-04-13 17:54] #82 closed

[2016-05-13 07:01] maruilian11 opened #83 "Add to `cdnjs`"
hi, recently we want to add your lib on http://cdnjs.com, could you please tell me what files should be hosted on CDN?
thank you very much!

https://github.com/cdnjs/cdnjs/issues/7865

[2016-05-16 10:39] alrra commented on #83
@maruilian11 Everything **except** the following:

[code]

--

From: https://github.com/cdnjs/cdnjs/blob/5b14dbfc41562c2d21f75d5ae1401fc6df9e9752/README.md#cdnjs-library-repository

⚠️ Do note that this is just a collection of images, it's not a JavaScript/CSS library.

(Cc: @PeterDaveHello)

--

@maruilian11, @PeterDaveHello Let me know if I can help with anything else!

[2016-05-16 12:02] #83 closed

[2016-05-16 13:45] PeterDaveHello commented on #83
Images collection will be welcome. Thanks @alrra .

[2016-05-18 13:49] maruilian11 commented on #83
hi @alrra,
do you have any license for this lib?

[2016-05-18 14:02] alrra commented on #83
@maruilian11 See: https://github.com/alrra/browser-logos#legal

[2016-05-18 14:15] maruilian11 commented on #83
thank you!

[2016-06-01 14:36] LukeXF commented on #69
Would be useful to see this added

[2016-06-03 20:42] Spiderpig86 opened #84 "Add Polarity logo?"
This is just a small request for Polarity Browser.

http://polarityweb.weebly.com/

Link for image:
https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/12742747_963929246994804_4516615644568352194_n.png?oh=4bebcffb354952bb4a1d5d0907f9694e&oe=57D2853C

Thank you.

[2016-06-04 13:14] alrra commented on #84
@Spiderpig86 Thanks! [:paperclip:](https://cloud.githubusercontent.com/assets/1223565/15799545/015c6f8a-2a69-11e6-8478-3710172008ff.png)

[2016-06-04 13:14] #84 closed

[2016-06-05 08:15] PeterDaveHello commented on #83
@alrra I'm not sure if there will be some legal concern to host these collection publicly? Do you have any idea or comment? Thanks.

[2016-06-05 14:03] alrra commented on #83
@PeterDaveHello What I can tell you is that [so far](https://www.paulirish.com/2010/high-res-browser-icons/) there hasn't been any such issue with this project. Furthermore, some of the browser logos where even contributed by people that are employed by the companies that develop those browsers (e.g.: [1](https://github.com/alrra/browser-logos/issues/70), [2](https://github.com/alrra/browser-logos

[2016-06-05 16:44] PeterDaveHello commented on #83
hmmmm ... okay, so I think we could host it!

[2016-06-20 11:46] alrra commented on #78
@dbox: The browser logos are now available via `cdnjs`: https://cdnjs.com/libraries/browser-logos.

[2016-06-20 12:02] dbox commented on #78
Awesome. Thanks!
On Mon, Jun 20, 2016 at 7:46 AM Cătălin Mariș <notifications@github.com>
wrote:

[2016-08-22 13:01] cristip opened #86 "Netscape"
Netscape for the nostalgic :)

[2016-08-22 13:04] mathiasbynens commented on #86
https://github.com/alrra/browser-logos/tree/master/archive#netscape

[2016-08-22 13:09] cristip commented on #86
Awesome

[2016-08-22 13:09] #86 closed

[2016-08-24 19:12] alrra commented on #43
Added in https://github.com/alrra/browser-logos/commit/f70ec979df3bcd28fe94f7d1a8b7f8fd3c3f3f50. 🎉

[2016-09-01 17:08] alrra commented on #76
Updated the [`CHANGELOG.md`](https://github.com/alrra/browser-logos/blob/9f7368e60cd096d38fc8680008aafe9ad9c1412e/CHANGELOG.md) and the [`releases`](https://github.com/alrra/browser-logos/releases). ✨

[2016-10-09 19:06] alrra opened #92 "Add `Focus` logo"
![Focus by Firefox logo](https://cloud.githubusercontent.com/assets/1223565/19222767/c3158de2-8e68-11e6-922c-31e1cfe5f76d.png)

<img width=50% alt="Focus by Firefox on iOS" src="https://cloud.githubusercontent.com/assets/1223565/19222758/7de78860-8e68-11e6-8e15-d17e537b71b4.gif"><img width=50% alt="Focus by Firefox on iOS" src="https://cloud.githubusercontent.com/assets/1223565/19222898/e853c1d4-8

[2016-10-09 19:06] #92 closed

[2016-11-07 11:01] alrra opened #99 "Publish logos individually?"
This project has become quite big, and because most people usually only need the main browser logos, I'm thinking of publishing some of the logos separately, and therefore, transform this into a [monorepo](https://github.com/babel/babel/blob/6d82ee297eb304a1b96fca77818e03ff77ae39c4/doc/design/monorepo.md).

---

The plan is to:

1) Continue to release "global" versions and maintain a "global" `CHA

[2016-11-18 10:01] mathiasbynens commented on #99
Sounds amazing, if you don’t mind the extra maintenance overhead! Hopefully tools like lerna can help here.

[2016-12-12 13:54] jakub300 opened #100 "Internet Explorer logo"
Hey, I've noticed that you moved IE logos to archive recently. There are [hundreds of projects](https://github.com/search?p=2&q=raw+alrra+internet-explorer&ref=searchresults&type=Code&utf8=%E2%9C%93) that refer to that logo by its old URL. Are you sure that you want to break all of them?

[2016-12-17 21:45] alrra opened #101 "`Carmel` VR browser logo"
Ref: https://developer.oculus.com/blog/carmel-developer-preview-launches-today/

---

I've been playing with it a bit today:

<img src="https://cloud.githubusercontent.com/assets/1223565/21289898/5c53fbe6-c4b1-11e6-88b1-35aef5ef1a1a.png" alt="Carmel VR browser">

<img src="https://cloud.githubusercontent.com/assets/1223565/21289896/5c53bf1e-c4b1-11e6-9a7a-b7d283142a4a.png" alt="Carmel VR browser">

[2016-12-20 23:12] alrra commented on #99
@mathiasbynens I actually looked into `Lerna` and some other tools, but I don't think I'll need them. These packages don't have dependencies, and most of them won't get many updates, probably only patch version as the images are further optimized

When needed, I'll probably write some scripts to automate things

[2016-12-20 23:15] alrra commented on #99
Also, this issue is done! 🎉

[2016-12-20 23:15] #99 closed

[2016-12-20 23:20] alrra opened #102 "Update scripts"
Update scripts to reflect the [recent changes](https://github.com/alrra/browser-logos/issues/99).

[2016-12-21 00:41] alrra commented on #100
@jakub300 The recommended ways of getting these logos are listed under the [`Getting the browser logos`]( https://github.com/alrra/browser-logos/tree/12aa960021445b76eb901b949dbcffdbe9addc9e#getting-the-browser-logos) section from the main [`README.md`]( https://github.com/alrra/browser-logos/tree/12aa960021445b76eb901b949dbcffdbe9addc9e#readme) file.

Changes are specified in detail in the [`CHAN

[2016-12-21 00:41] #100 closed

[2016-12-22 07:48] scribblemaniac commented on #100
For the curious here is a list of the top 1000 results from the search "raw alrra", sorted by stars:
[BrokenLogos.txt](https://github.com/alrra/browser-logos/files/668242/BrokenLogos.txt)

Upon closer inspection, it seems that a service called [BrowserStack](https://www.browserstack.com/) may be to blame for the majority of these broken links.

[2016-12-23 22:04] #101 closed

[2016-12-23 22:04] alrra commented on #101
Will add the logo when and if I find a decent version of it.

[2016-12-30 03:38] ngyikp opened #104 "Update Maxthon icon"
Not sure why Maxthon is on the archive, they actually released version 5 just 2 months ago, and this seems to be their new logo (I extracted it directly from Maxthon.exe)

![maxthon](https://cloud.githubusercontent.com/assets/6135313/21559275/48ded6b2-ce84-11e6-8197-768e8352657b.png)

ICO: [maxthon icon.zip](https://github.com/alrra/browser-logos/files/678215/maxthon.icon.zip)

[2016-12-30 07:43] alrra commented on #104
@ngyikp That is because that logo is the one used by an older version of the Maxthon browser.

[2016-12-30 16:50] alrra commented on #104
@ngyikp Thanks for bringing this up!

[2016-12-30 16:51] #104 closed

[2016-12-30 20:13] scribblemaniac commented on #104
@alrra Where did you get that 960x960 logo from?

[2016-12-30 20:28] alrra commented on #104
@scribblemaniac From [here](http://www.maxthon-fr.com/forum/uploads/monthly_10_2016/post-3-0-84595100-1476703446.png).

[2017-01-02 20:05] #102 closed

[2017-02-18 10:53] janpapenbrock opened #108 "Package information is missing for puffin"
Changelog, package.json and README are missing for Puffin browser.

See [src/puffin](https://github.com/alrra/browser-logos/tree/6f328628858bc9f9ff4cb19f09365a84b70c55e8/src/puffin).

[2017-02-18 10:56] janpapenbrock commented on #108
Actually on quite a few others in archive as well (e.g. 360-secure, adrenaline, airweb, allinone, amigo, apollo), from my random clicking. Is this on purpose?

[2017-02-18 10:58] alrra commented on #108
Yes. From https://github.com/alrra/browser-logos/issues/99#issue-187682357:

[2017-02-18 10:58] #108 closed

[2017-02-18 10:59] janpapenbrock commented on #108
Just found that as well :) Alright. What is the recommended way for these? Download the full package?

[2017-02-18 11:03] alrra commented on #108
Either copy them manually, or use any of the options listed under [`2) Get all logos`](https://github.com/alrra/browser-logos/tree/3bb26173c9c2b861c1d19b49bb397cdf3cd03ff1#2-get-all-logos) section from the [`README.md`](https://github.com/alrra/browser-logos/blob/3bb26173c9c2b861c1d19b49bb397cdf3cd03ff1/README.md) file.

[2017-02-18 11:05] janpapenbrock commented on #108
Alright, thank you for your work and the quick reply!

[2017-03-15 06:38] alrra opened #111 "Add SVG version of the Samsung Internet Beta logo"
See: https://github.com/SamsungInternet/assets/blob/55a862aaae673bef7ab035a2910ee150f8a34016/svg/SamsungInternet54Beta.svg

---

Thanks, @diekus and @AdaRoseEdwards!

[2017-03-17 12:10] DmitryHetman opened #112 "Add `Midori` browser logo"

[2017-03-17 12:19] KIPdeKIP commented on #112
Midori is already included in the archive:

https://github.com/alrra/browser-logos/tree/master/src/archive/midori

A 24x24 icon is also available:

https://github.com/alrra/browser-logos/blob/master/src/archive/midori/midori_24x24.png

[2017-03-17 12:27] alrra commented on #112
Thanks, @KIPdeKIP!

[2017-04-01 20:20] Findus23 opened #113 "many icon suggestions"
Hi, while renewing the icons in [piwik](https://github.com/piwik/piwik/) (an open source, self-hosted Google Analytics alternative) a few months ago I didn't know about this repo and made an own collection of browser icons. Thanks to a comment I found your repository and have now replaced the icons (because there is no need to duplicate the effort)

There are some icons left, that are missing in y

[2017-04-02 14:41] alrra commented on #113
That's usually because nobody found/created a good (`512x512px` or bigger) version of those logos.

There was a [similar issue](https://github.com/alrra/browser-logos/issues/44), but unfortunately, it proved to not be very useful. So, the project relies on people opening pull requests when they find a decent version of a logo not included yet.

---

This project also has the [Pale Moon logo](https

[2017-04-02 17:03] Findus23 commented on #113
You are right. For many of them high resolution icons are hard to find.

But three of them have a high resolution icon:

## Google Earth
While not a browser it sends its own user agent.
![](https://upload.wikimedia.org/wikipedia/commons/f/f0/Google_Earth_Icon.png)
https://commons.wikimedia.org/wiki/File:Google_Earth_Icon.png

## Jasmine
![](https://github.com/piwik/piwik-icons/blob/master/src/brow

[2017-04-07 11:08] alrra opened #114 "Update `Samsung Internet` logo"
[![](https://cloud.githubusercontent.com/assets/1223565/24818317/a87a94b0-1be8-11e7-9fc5-55181d98ceb2.png)](https://github.com/SamsungInternet/assets/blob/0f1d543a5468984935f90bd7393f6ec8d48451d1/browser_brand/logo_Dark_Font.svg )

[:paperclip:](https://cloud.githubusercontent.com/assets/1223565/24818348/ccb4e07e-1be8-11e7-8c0f-bc049ceb47f7.png)

[2017-04-07 20:31] alrra commented on #114
Fixed in https://github.com/alrra/browser-logos/commit/07b9b26a00cf296f4ad7020c7c84a028072b1ee5 & https://github.com/alrra/browser-logos/commit/05dd99f3916bad19202221995f05d825f0eaa1a6.

[2017-04-07 20:31] #114 closed

[2017-04-15 19:50] alrra commented on #113
@Findus23 Sorry, will only accept browser logos.

---

Added `Streamy`. Thanks!

[2017-04-15 19:50] #113 closed

[2017-04-19 07:39] Findus23 commented on #113
No problem. I'll just keep the rest in my repo.

[2017-05-24 12:39] mkxml opened #117 "Add svg logo for internet explorer 9-11"
It would be cool to have the SVG version of the legacy internet-explorer 9-11 logo.

We could use this one: [Wikimedia IE 9 logo](https://upload.wikimedia.org/wikipedia/commons/1/1b/Internet_Explorer_9_icon.svg)

Though it doesn't look **exactly** like the PNGs.

Let me know what you think.

[2017-05-24 13:05] alrra commented on #117
Unfortunately, that SVG is not even close to the [official logo](https://github.com/alrra/browser-logos/blob/09c098833d43a35d95805178f11401fb66153eea/src/archive/internet-explorer_9-11/internet-explorer_9-11.png). :(

It would be nice, but unfortunately no one contributed it yet. Closest we got was a [`.eps`](https://github.com/alrra/browser-logos/pull/48#issuecomment-46688515).  If you, or anyone

[2017-05-24 13:05] #117 closed

[2017-08-05 02:16] ngyikp opened #122 "Update Firefox Nightly icon"
https://twitter.com/FirefoxNightly/status/893577526009880576

<img width="512" alt="" src="https://user-images.githubusercontent.com/6135313/28992126-0929ae86-79c7-11e7-9f59-a4e08d5e88d1.png">

[firefox.icns.zip](https://github.com/alrra/browser-logos/files/1202035/firefox.icns.zip)

[2017-08-05 09:49] alrra commented on #122
Thanks, @ngyikp!

[2017-08-05 09:50] #122 closed

[2017-08-31 15:39] alrra opened #123 "Update `Firefox Focus` logo"
New logo:

![](https://user-images.githubusercontent.com/1223565/30253200-3c52d550-9635-11e7-9e7f-428cfb5f6833.png)

[2017-09-10 21:40] #123 closed

[2017-09-15 12:34] alrra opened #124 "Update `Firefox Developer Edition` logo"
![](https://user-images.githubusercontent.com/1223565/30482337-757ba014-99d7-11e7-8eec-b4290f57e8ea.png)

[2017-09-21 07:33] #124 closed

[2017-09-26 18:16] alrra opened #125 "Update `Firefox` logo"
![](https://user-images.githubusercontent.com/1223565/30876662-f2f22776-a2ff-11e7-87f7-ded9d31ba997.jpg)

https://twitter.com/madhava/status/912723495381094402

[2017-09-26 18:16] alrra commented on #125
![](https://user-images.githubusercontent.com/1223565/30876662-f2f22776-a2ff-11e7-87f7-ded9d31ba997.jpg)

[2017-09-26 18:50] alrra commented on #125
<img alt="firefox logo" src="https://user-images.githubusercontent.com/1223565/30878136-98b0fcba-a304-11e7-8bb5-55b3eb751446.png">

[2017-09-27 14:59] alrra opened #126 "Add SVG version of the `Firefox` logo"
![SVG version of the Firefox logo](http://design.firefox.com/product-identity/firefox/firefox/firefox-logo.svg)

Ref: http://design.firefox.com/product-identity/firefox/firefox/firefox-logo.svg [📎](https://github.com/alrra/browser-logos/files/1337633/firefox-logo.svg.zip)

Thanks, @jankeromnes!

[2017-09-27 15:01] alrra opened #127 "Add SVG version of the `Firefox Nightly` logo"
![SVG version of the Firefox Nightly logo](http://design.firefox.com/product-identity/firefox-nightly/firefox-logo-nightly.svg)

[📎](https://github.com/alrra/browser-logos/files/1337647/firefox-nightly.svg.zip)

Thanks, @jankeromnes!

[2017-09-27 15:05] alrra opened #128 "Add SVG version of the `Firefox Developer Edition` logo"
![SVG version of the Firefox Developer Edition logo](http://design.firefox.com/product-identity/firefox-developer-edition/firefox-logo-developer-edition.svg)

[📎](https://github.com/alrra/browser-logos/files/1337661/firefox-logo-developer-edition.svg.zip)

Thanks, @jankeromnes!

[2017-09-27 15:07] alrra opened #129 "Add SVG version of the `Firefox Focus` logo"
![SVG version of the Firefox Focus logo](http://design.firefox.com/product-identity/firefox-focus/firefox-logo-focus.svg)

Ref: http://design.firefox.com/product-identity/firefox-focus/firefox-logo-focus.svg [📎](https://github.com/alrra/browser-logos/files/1337669/firefox-focus.svg.zip)

Thanks, @jankeromnes!

[2017-09-27 20:00] #127 closed

[2017-09-28 17:26] #128 closed

[2017-09-28 18:08] #125 closed

[2017-09-28 18:08] #126 closed

[2017-09-28 18:42] #129 closed

[2017-09-29 13:32] alrra opened #130 "Update `Firefox Beta` logo"
![Firefox Beta logo](https://user-images.githubusercontent.com/1223565/31018164-bb3558f4-a533-11e7-83e5-424d202a9c89.png)

[2017-09-29 16:14] #130 closed

[2017-11-07 21:09] peterkahl opened #132 "Add SVG version of the 'Safari' browser logo"
Thanks.

[2017-11-10 14:32] alrra commented on #132
@peterkahl Thanks for opening this issue, but I'm going to close it as we've tried [something similar](https://github.com/alrra/browser-logos/issues/44) in the past and it proved to not be useful.

If you find/create a SVG version of the Safari logo, I'm more then happy to include it.

[2017-11-10 21:56] peterkahl commented on #132
`<?xml version="1.0" encoding="UTF-8"?>
<svg preserveAspectRatio="xMidYMid" version="1.1" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
<defs>
<linearGradient id="c" x1="50%" x2="50%" y1="100%" y2="3.5527e-13%">
<stop stop-color="#DBDBDA" offset=".25"/>
<stop stop-color="#fff" offset="1"/>
</linearGradient>
<filter id="e" x="-50%" y="-50%" width="200%" height="200%">
<feOffset dx="0" d

[2017-11-11 14:30] alrra commented on #132
@peterkahl The image you provided is basically the same as [this one](https://github.com/alrra/browser-logos/pull/88#issuecomment-252885636), unfortunately, being different from the official logo. :(

[2017-11-11 14:30] #132 closed

[2017-12-04 13:55] sashberd opened #133 "Library license"
Hi @alrra ,
Under what license you library is hosted?
Thanks

[2017-12-04 14:02] alrra commented on #133
See https://github.com/alrra/browser-logos#legal and https://github.com/alrra/browser-logos/issues/83.

[2017-12-04 14:08] sashberd commented on #133
@alrra I saw the legal, and I understand that icons are under owner license... But you code is under MIT?

[2017-12-04 15:43] alrra commented on #133
Yes, everything else is MIT (I should specify that).

[2017-12-05 13:45] #133 closed

[2017-12-16 14:20] alrra commented on #101
https://www.oculus.com/experiences/gear-vr/1257988667656584/

![oculus browser logo](https://user-images.githubusercontent.com/1223565/34071287-09c2e0a4-e229-11e7-8874-8e7a1dd90dec.png)

[2017-12-31 16:56] alrra opened #134 "Transform `browser-logos` npm account into an organization"
Ref: https://www.npmjs.com/docs/orgs/

[2017-12-31 16:57] alrra commented on #134
[Done.](https://www.npmjs.com/org/browser-logos/)

[2017-12-31 16:57] #134 closed

[2018-01-11 20:09] Jacalz opened #135 "Please update to the latest Brave logo"
Please update the Brave logo to the latest version from here:
https://www.brave.com/about/images/brave_icon_512x.png

[2018-01-11 20:28] alrra commented on #135
@Jacalz Do you have a SVG version of the logo?

Also, if you know, can you also provide the version of Brave when this logo started to be used?

Thanks!

[2018-01-11 20:44] Jacalz commented on #135
Sorry I don’t know what version they were new in and I don’t have an svg version. But I am a moderator on Brave community, collaborator on github and I also know the designer so I will ask him 🙂

[2018-01-11 21:02] alrra commented on #135
@Jacalz No problem, if at one point you find out, let me know!

It seems the site contain one: https://brave.com/fonts/brave_logo_horz_reversed.svg.

---

I'll update the logo when I have some free time.

Thanks for opening this issue! 💜

[2018-01-13 19:09] Jacalz commented on #135
Great but that svg you used is reversed 😅 The shading is the other way around, I did just get the svgs for you if you want 🙂

[2018-01-13 19:21] alrra commented on #135
I got it from the official website. 😕

![](https://user-images.githubusercontent.com/1223565/34909323-debb4fcc-f853-11e7-9431-862a0c69f8f2.png)

Sure.

[2018-01-13 19:24] Jacalz commented on #135
I am sorry but the logos I got are the ones that will be in the next release 0.20.x, that is why they are not in the website 😉 They are a bit more red and has not gradient 🙂 I am sorry that I did not say it earlier 😔

[2018-01-13 19:26] alrra commented on #135
I just downloaded latest Brave and the shading is in the right spot. :/

![](https://user-images.githubusercontent.com/1223565/34909370-78a0930e-f854-11e7-8555-13012a21a3e7.png)

[2018-01-13 19:26] alrra commented on #135
Ok. When the logo get's updated, feel free to open another issue. Thanks!

[2018-01-13 19:26] #135 closed

[2018-01-13 19:27] Jacalz commented on #135
Oh yeah, will do then 😉

[2018-02-03 09:28] Jacalz opened #136 "Update Brave logos to the current version as of 0.20.x"
The Brave logos were updated to a more flatter look with a slightly different shade of orange with the 0.20.x release. Those new icons will come with the next ios version too.

Here are the SVG files for it:
[brave_logos_SVG.zip](https://github.com/alrra/browser-logos/files/1691582/brave_logos_SVG.zip)

[2018-02-05 05:10] alrra commented on #136
@Jacalz The current Brave logo looks different than what you provided in `brave_logos_SVG.zip`.

| Current logo | Logo from<br>`brave_logos_SVG.zip` |
|:---:|:---:|
|  <img src="https://user-images.githubusercontent.com/1223565/35789062-4a421b1c-09ee-11e8-9c2e-3a2d9a3119a2.png" width=300> |  <img src="https://user-images.githubusercontent.com/1223565/35789235-b3aee156-09ef-11e8-838d-119bdf6b4281.p

[2018-02-05 05:13] alrra commented on #136
@Jacalz Actually, look the same in Chrome, but not in Firefox.

[2018-02-05 16:39] Jacalz commented on #136
They look the same for me at least and they look very different from the old one 👍

[2018-02-07 01:34] alrra commented on #136
Yes.

The version of the logo used by the current version of Brave (v0.20.30) and the SVG version of the logo you provided are a bit different.

Here is a diff between them:

<img width="326" src="https://user-images.githubusercontent.com/1223565/35893491-28daef50-0b63-11e8-8d55-06943a078b62.png">

And in case there is a problem with something else (e.g.: image color profiles) here is a picture of

[2018-02-10 23:31] alrra commented on #136
@Jacalz I ended up using https://brave.com/fonts/brave_logo_2color_reversed.svg, as it seems it didn't have the problem specified above.

Thanks again for opening this issue!

[2018-02-10 23:31] #136 closed

[2018-02-11 07:49] Jacalz commented on #136
Thanks a lot 👍

[2018-02-15 21:30] KonoromiHimaries opened #137 "Add `basilisk` browser logo"
![](https://www.basilisk-browser.org/bas-logo-300w.png)

[2018-02-16 15:44] alrra commented on #137
@KonoromiHimaries Do you know if there is a more decent version (`512⨯512px` or higher), or an SVG version of the logo? Thanks!

[2018-02-26 07:01] #137 closed

[2018-03-04 18:53] shayc opened #138 "Safari logo missing SVG version"
Awesome project! I noticed the Safari logo is missing the SVG version.

[2018-03-04 19:00] alrra commented on #138
@shayc Unfortunately, no one has yet found or created a SVG version of the Safari logo that is the same as the official one. 😔

---

See also: #88, #132.

[2018-03-04 19:00] #138 closed

[2018-03-04 19:04] shayc commented on #138
Alright, I just found out this logo, it's not pixel perfect but very close (and good for my usage):
https://worldvectorlogo.com/logo/safari-3

[2018-03-04 20:14] alrra commented on #138
https://worldvectorlogo.com/logo/safari-3

That is the [same one as the one from this comment](https://github.com/alrra/browser-logos/pull/88#issuecomment-252885636).

:+1:

[2018-03-17 11:58] polyma opened #139 "@Latest"
Hello,

Great repo, very helpful!

I noticed on the CDN that you have strict versioning for all the logos. I myself really just want to display the most recent logo for each browser, I can imagine that would be a pretty common use case for others too. Would it be possible to have a /latest/ version on the CDN?

[2018-03-17 17:38] alrra commented on #139
@polyma If that feature doesn't exists, there is nothing this repository can do about it. You should open an issue in the [`cdnjs`](https://github.com/cdnjs/cdnjs) repository (if one doesn't exists already).

See also: https://github.com/alrra/browser-logos/issues/83.

Also, Cc @PeterDaveHello.

There are sometimes breaking changes (e.g.: the path changes as logos are moved to the archive, they ar

[2018-03-17 17:38] #139 closed

[2018-03-17 17:43] scribblemaniac commented on #139
BTW, cndnjs does have many many issues on this feature already, [this one](https://github.com/cdnjs/cdnjs/issues/360) being the primary issue. Considering how long it has been open and how many people have requested it, I would not hold my breath for it to be implemented any time soon.

[2018-03-17 20:09] PeterDaveHello commented on #139
Sorry that that's something that CDNJS won't and can't implement, the current hosting is directly handled by Cloudflare, and we won't encourage to use it most of the scenarios, to prevent any unpredictable breaking changes, like the removal, renaming of files in the case here or API changes in the other library cases.

[2018-03-19 17:25] olizilla opened #140 "Please publish Beaker logo to npm"
I'd like to use browser logos to build a p2p feature comparison site, but it looks like `beaker` is not on npm

[code]

Please can it be?

[2018-03-19 17:28] alrra commented on #140
Sure. Will publish it later today.

[2018-03-20 16:56] #140 closed

[2018-04-21 03:07] alrra opened #142 "Add `Amazon Internet` logo"
Ref: https://www.theverge.com/2018/4/17/17249090/amazon-internet-web-browser-app-android-india

[2018-04-21 04:29] #142 closed

[2018-04-25 08:20] alrra opened #143 "Add `Opera Touch` logo"
https://www.opera.com/mobile/touch

[2018-04-25 21:59] #143 closed

[2018-04-28 23:34] alrra opened #144 "Add `jsdom` logo"
Depends on: https://github.com/jsdom/jsdom/issues/1327.

[2018-04-30 07:42] Findus23 opened #145 "Firefox Focus svg doesn't display correctly in Inkscape and Firefox"
Hi,

I just noticed that the Firefox Focus logo looked odd in my application.

It seems like the svg you are using isn't valid as it doesn't display as it should (and as your `/focus.png` does) when opening in Inkscape.

Even when opening in Firefox (like in the following line), the svg isn't rendered correctly.
<img width="50" src="https://rawgit.com/alrra/browser-logos/master/src/focus/focus.svg

[2018-04-30 12:46] alrra commented on #145
@Findus23 What version of Firefox are you using?

Everything seems fine to me:

![](https://user-images.githubusercontent.com/1223565/39427732-8dc70208-4c8d-11e8-992d-fa3537f48e27.png)

![](https://user-images.githubusercontent.com/1223565/39427730-8d797bbe-4c8d-11e8-9e51-6596f565f4a9.png)

![](https://user-images.githubusercontent.com/1223565/39427731-8da44d08-4c8d-11e8-85d0-56a0bc00e8bb.png)

[2018-04-30 20:50] alrra commented on #145
OK, I thought something was wrong with the SVG.

The reason the SVG is different is because that's how it was provided by Mozilla: https://github.com/FirefoxUX/product-identity, and even thought I wanted to have a SVG version that would be the same as the actual used logo (the PNGs), I decided to include it as I thought that would be beneficial.

A pull request that makes the SVG version the same

[2018-04-30 20:50] #145 closed

[2018-04-30 22:11] scribblemaniac commented on #145
Here's a version of svg made to look like the icon: [focus.svg.zip](https://github.com/alrra/browser-logos/files/1962313/focus.svg.zip)

Although it becomes clear when comparing them that the svg we have right now is not quite the same as what is used in the icon. Most notably the inside circle is way too bright.

Focus Icon | SVG
:---: | :---:
![focus_512x512](https://user-images.githubuserconten

[2018-05-01 01:40] alrra commented on #145
@Findus23 @scribblemaniac I've open an [issue](https://github.com/FirefoxUX/product-identity/issues/9), let's see if they provide an official one.

[2018-06-04 16:05] Thinkpad12 opened #147 "Logo proposal"
Greetings, Im the Co-Founder of ThinkPad, we are an independent graphic design company, actually we are in constantly upgrowth looking for new challenges, this one particularly call a lot my attention and i`ll will like to help you with, me and my professional partners would be more than pleased to collaborate with your project.

With nothing more to add, we`ll be waitng for your answer, have a ni

[2018-06-04 16:11] alrra commented on #147
[Contributions are always welcomed! ](https://github.com/alrra/browser-logos/blob/master/.github/CONTRIBUTING.md)

[2018-06-04 16:11] #147 closed

[2018-06-25 16:26] alrra opened #148 "Add Firefox Focus Beta and Nightly logos"
Ref: https://github.com/mozilla-mobile/focus-android/wiki/Release-tracks#nightly

[2018-07-07 17:47] alrra commented on #148
Will add them once they are available.

Also opened: https://github.com/FirefoxUX/product-identity/issues/10.

[2018-07-07 17:47] #148 closed

[2018-07-24 13:14] alrra commented on #148
Ref: https://github.com/mozilla-mobile/focus-android/issues/2818#issuecomment-405799996

[2018-08-15 12:36] Ruffio opened #151 "svg version of safari is missing in /safari"
There is no svg icon in:

[2018-08-15 12:39] Findus23 commented on #151
See also  #138, #132, #88 and more.

[2018-08-15 12:48] #151 closed

[2018-09-09 17:32] alrra commented on #136
@Jacalz Do you know if there is a SVG version of [`Brave Dev`](https://brave.com/download-dev/)? Thanks!

[2018-09-16 11:59] Jacalz commented on #136
I don't really know, couldn't find any SVG version for it but I will ask to see if I can get one...

[2018-09-18 16:18] Jacalz commented on #136
Here you go @alrra 👍 [brave_dev.zip](https://github.com/alrra/browser-logos/files/2393623/brave_dev.zip)

[2018-09-18 16:43] alrra commented on #136
Thank you, @Jacalz!

[2018-10-09 12:45] mathiasbynens opened #152 "V8 logos with white outline (for use on dark backgrounds)"
Not sure if this project is interested in them, but V8 now has outlined versions of each logo: https://v8.dev/logo

[2018-10-09 19:09] alrra commented on #152
The project contains [Edge beta for light and dark background](https://github.com/alrra/browser-logos/blob/e46c926cc408e2abcbca916a9fca1bede843ef15/src/README.md#edge) so, yes, it make sense to have them.

[2018-10-13 05:03] #152 closed

[2018-11-05 16:57] dandv commented on #112
Midori has resumed development, with a release this past week.

https://www.midori-browser.org/

Should it be moved out of the archive?

[2018-11-05 20:13] alrra commented on #112
@dandv Yes. Thanks for catching that! Do you wanna do a PR?

[2018-11-12 21:18] alrra commented on #108
@dandv [This logo](https://github.com/alrra/browser-logos/blob/94860625086d80228263f5dcf42f58af2507bbce/src/archive/360-secure/360-secure.png) is in the archive because it is no longer used by the latest versions of the `360 secure` browser.

I'll happily accept a PR with the logo currently used by `360 secure` (but do note that it has to be at least `512x512px`).

[2019-02-18 15:48] alrra opened #154 "Add new `Samsung Internet` logos"
<img src="https://user-images.githubusercontent.com/1223565/52962170-6fa59180-3351-11e9-91d7-f842f15ec90f.png" alt="new samsung internet beta logo" width=300>

---

Depends on: https://github.com/SamsungInternet/assets/issues/1

Ref: https://medium.com/samsung-internet-dev/new-year-new-samsung-internet-b74f282e4429

[2019-02-18 15:52] alrra commented on #154
Depends on: https://github.com/SamsungInternet/assets/issues/1

[2019-03-04 19:39] #154 closed

[2019-03-07 07:24] scribblemaniac commented on #137
@KonoromiHimaries Added in 43643afeb48341733454f46eb220ae72192f4751. :)

[2019-03-21 14:13] alrra opened #168 "Add `Brave Nightly` logo"
<img width="250" alt="Brave Nightly browser logo" src="https://user-images.githubusercontent.com/1223565/54860008-415cfe00-4cd1-11e9-82e6-b0cd31cb2f4f.png">

Ref: https://brave.com/download-nightly/

[2019-03-21 14:19] alrra commented on #168
👆🏻 @Jacalz

[2019-03-23 02:17] #168 closed

[2019-03-23 02:18] alrra commented on #168
@Jacalz Can you help with the SVG version of the logo? Thanks!

[2019-03-23 07:54] Jacalz commented on #168
I will see what I can do and get back to you when I get something

[2019-04-09 00:37] demetrios-koziris opened #170 "Add Edge Beta/Dev/Canary logos"
Are there plans to add these logos as seen below? Thanks
https://www.microsoftedgeinsider.com/en-us/download/

[2019-04-09 03:13] alrra commented on #170
Yes.

---

@kypflug Can you by any chance help provide the SVG versions of the logos? Thanks!

[2019-04-12 03:09] #170 closed

[2019-05-31 16:49] Rykus0 opened #171 "IE11 logo incorrect"
The IE11 logo is all blue and doesn't have the yellow like IE9 did

[2019-05-31 17:31] Findus23 commented on #171
I am not sure what you are referring to, but `src/archive/internet-explorer_9-11/internet-explorer_9-11.png` does have "the yellow"
![](https://raw.githubusercontent.com/alrra/browser-logos/master/src/archive/internet-explorer_9-11/internet-explorer_9-11.png)

[2019-05-31 18:23] Rykus0 commented on #171
You're right, I really wasn't clear.  Sorry about that - that's what I get for rushing.

The IE11 logo I've seen does not have the yellow, whereas the one you have here does.  Maybe both are correct?

![image](https://user-images.githubusercontent.com/1745718/58726373-92fbc600-83af-11e9-80a1-c0f60a2fe2fd.png)

[2019-06-02 15:53] alrra commented on #171
From what I remember that icon / logo is only used in the about page, and over time is seems it wasn't even used consistently.

e.g.: [image search for IE 10](https://www.google.com/search?q=ie+10&source=lnms&tbm=isch) (that also has it for certain versions):

![](https://user-images.githubusercontent.com/1223565/58763362-88a40e00-850e-11e9-8b23-0383a94b3f6d.png)

![](https://user-images.githubuse

[2019-06-02 15:53] #171 closed

[2019-06-03 13:13] Rykus0 commented on #171
Interesting, thanks!  I guess I'd mostly seen the updated logo, but I see the desktop icon I have is the one with the yellow.

Thanks for following up on this, and for putting this great resource together

[2019-06-12 05:25] alrra opened #172 "Add new Firefox logos"
Ref: https://blog.mozilla.org/opendesign/firefox-the-evolution-of-a-brand/

[2019-06-12 07:43] mathiasbynens commented on #172
Per <https://blog.mozilla.org/opendesign/firefox-the-evolution-of-a-brand/#comment-6369>:

[2019-06-29 13:01] mathiasbynens commented on #172
https://mozilla.design/firefox/logos-usage/

[2019-06-29 13:06] mathiasbynens commented on #172
Sounds like the Firefox browser logo won’t be changing, and the new logo refers to something else.

[2019-06-30 02:50] alrra commented on #172
@mathiasbynens Interesting.

---

<img width="726" src="https://user-images.githubusercontent.com/1223565/60391558-00317280-9aa6-11e9-8031-4789f4d4d1ff.png">

It seems [they did make some](https://github.com/mozilla-mobile/fenix/issues/868#issuecomment-483376700) versions of the logos in the new style:

<img width="500" alt="New Firefox Preview logo" src="https://user-images.githubusercontent.com/

[2019-07-01 11:39] mathiasbynens commented on #172
This is confusing.

[The "Firefox browser logos" section](https://mozilla.design/firefox/logos-usage/) (can't directly link there since it lacks an `id`) seems like the canonical source of truth, and it still contains the current browser logos, which would indicate no changes.

[2019-07-04 16:22] alrra commented on #172
@callahad  ⬆️

[2019-07-08 19:58] callahad commented on #172
Sorry for the confusion.
The logo above is _not yet_ the official Firefox Browser logo, though it will turn into that before this time next year.
Basically, the official logo hasn't changed until you see the new icon in your dock. :)

[2019-07-09 01:32] Zhai2333 opened #174 "Update Tor Browser's Icon"
Tor Browser now have a new icon.
It looks like this 👇
![Tor Browser on macOS](https://user-images.githubusercontent.com/21154023/60852934-78c5cb00-a22c-11e9-993c-3a53722c0a2d.png)

[2019-07-09 14:43] alrra commented on #172
@callahad Thank you for clarifying, I sincerely appreciate it!

---

Since it's going to take a while, I'm going to close this issue for now.

Note: I've added [Firefox Preview](https://github.com/alrra/browser-logos/blob/3cf99413cc8a16398abd0360fcdc2950fc1a466d/src/README.md#firefox-preview) and [GeckoView](https://github.com/alrra/browser-logos/blob/3cf99413cc8a16398abd0360fcdc2950fc1a466d/src/R

[2019-07-10 14:26] alrra commented on #174
From https://blog.torproject.org/new-release-tor-browser-85:

![](https://user-images.githubusercontent.com/1223565/60976879-5ba00380-a2e3-11e9-9e2f-2c6e5c9faeb6.png)

[2019-07-11 02:59] alrra commented on #174
@Zhai2333 Thank you for opening this issue!

[2019-07-11 03:00] #174 closed

[2019-08-12 14:02] alrra commented on #172
Ref: https://twitter.com/FirefoxNightly/status/1160829707853717505?s=09

[2019-08-12 20:34] callahad commented on #172
If this follows [the normal release schedule](https://wiki.mozilla.org/RapidRelease/Calendar), expect the new logo would be in all channels by the time Firefox 70 is released on October 22nd.

[2019-08-13 02:46] alrra commented on #172
[Updated the `Firefox Nightly` logo](https://github.com/alrra/browser-logos/commit/e1e5b57141cf221c9421af0d22b68ee95e1d6a62).

---

@callahad Can you help provide the SVG versions of the new logos once they become available? Thanks!

[2019-08-13 07:51] callahad commented on #172
I'll poke around and see if I can find standalone files for just the logos, but for now, SVGs of the wordmarks, which include the logos, are available at: [Nightly](https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/branding/nightly/content/horizontal-lockup.svg), [DevEdition](https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/branding/aurora/content/horizontal-lockup.svg), [Rele

[2019-08-13 13:52] alrra commented on #172
@callahad Thank you!

[2019-08-14 14:19] alrra commented on #172
@callahad If you find the SVG versions for the [other logos](https://github.com/alrra/browser-logos/blob/master/src/README.md#firefox) (e.g.: Firefox Beta), please let me know!

Also, once again, thank you for your help, I sincerely appreciate it! 🙇🏻‍♂️

[2019-08-14 14:19] #172 closed

[2019-09-05 14:48] alrra commented on #172
@callahad, @shorlander Are there SVG versions for Firefox Beta and [Firefox Lite](https://github.com/alrra/browser-logos/tree/0f5be42e52234db1b2212dc2a98fbc87b2604d28/src/firefox-lite#firefox-lite)? Thank you!

---

![Firefox Beta logo](https://user-images.githubusercontent.com/1223565/64352224-7ecbf400-cfb0-11e9-9427-e8912196c093.png)

[2019-09-26 07:07] Zwerge opened #176 "Chromium .svg version"
Unsure why, but there is no chromium .svg version

[2019-09-26 07:11] zwergius opened #177 "Using the SVG inline in HTML distorts colors due to shared IDs"
So using 4 of these browser-logos inline in html distort the colors of all but the first one.

This is caused by all gradient id's not being unique, which is a requirement to use these inline in html.

<img width="423" alt="Screenshot 2019-09-26 at 09 03 35" src="https://user-images.githubusercontent.com/2060308/65666223-7ca00700-e03d-11e9-9db2-40ab2a85a755.png">

[2019-09-27 03:48] alrra commented on #176
@Zwerge This project relies on people opening pull requests when they find/create a decent SVG version of a logo.

For the current logo used by Chromium, as with some [other logos](https://github.com/alrra/browser-logos/issues/151#issuecomment-413185278), nobody contributed it yet.

[2019-09-27 03:48] #176 closed

[2019-10-29 15:17] boscovn opened #178 "Dissenter logo"
Already got will to whitelist the browser, now it needs the logo https://dissenter.com/
Thank you

[2019-11-02 20:20] jonathantneal opened #179 "Add new `Edge` logos"
Details pending.

![New Edge browser logo](https://i.imgur.com/6Z9WyCn.png)

[2019-11-02 20:31] alrra commented on #179
Ref: https://www.theverge.com/2019/11/2/20944341/microsoft-edge-chromium-browser-logo-icon-wave-surf-new

[2019-11-02 21:21] jonathantneal commented on #179
Oh I’m so sorry. When I saw the title I thought I had made a mistake! Then I saw the history. Changed it back. Sorry!

[2019-11-02 21:23] jonathantneal commented on #179
https://cdn.vox-cdn.com/uploads/chorus_image/image/65613211/microsoftedgenewlogo.5.jpg

[2019-11-03 13:02] will-stone commented on #178
By "will" they mean "Will" (me) 😊 @alrra if you don't mind adding the logo of this browser? Linked issue with Browserosaurus: https://github.com/will-stone/browserosaurus/issues/139

[2019-11-04 14:36] jonathantneal commented on #179
PR incoming, courtesy of a generous fellow whom I will credit if they permit me.

[2019-11-04 17:10] alrra commented on #179
From https://blogs.windows.com/msedgedev/2019/11/04/edge-chromium-release-candidate-get-ready/#gve7ejwW9tcXVRam.97:

![](https://user-images.githubusercontent.com/1223565/68141703-dddfb380-fee2-11e9-88e7-2ce23a023ee4.png)

[2019-11-05 11:25] #179 closed

[2019-11-11 09:32] paul-v-m opened #181 "CDN doesn't update anymore"
It seems like https://cdnjs.com/libraries/browser-logos is stuck on version 58.1.3.

[2019-11-11 16:21] alrra commented on #181
@paul-v-m See https://github.com/cdnjs/cdnjs/issues/13524. Hopefully things will get back to normal in the next period, if not, I'll consider removing it as a recommendation.

[2019-11-11 16:21] #181 closed

[2019-11-19 23:18] krystian3w commented on #181
Still frozen.

[2019-12-01 03:41] alrra commented on #181
Done in https://github.com/alrra/browser-logos/commit/896ab303b43decd25c518ea5dc0081e6974d344a.

[2019-12-27 09:33] andy61i opened #182 "Adobe Illustartor opens the the Edge SVG file as blank"
AI version is the latest 24.0.1

[2020-02-03 04:05] alrra commented on #182
These logos are primarily intended for web usage.

@andy61i I do not have, nor intend to pay for a license to test things in Adobe Illustrator. However, if you can figure out why it doesn't render correctly in it, feel free to provide more details here, or open a pull request with a fix. Thank you!

[2020-02-03 04:05] #182 closed

[2020-02-03 04:10] alrra commented on #178
Thank you for the suggestion!

I will pass on this one for now for the same reasons as the ones specified in [this comment](https://github.com/alrra/browser-logos/pull/157#issuecomment-471230139) (see also: [`CONTRIBUTING.md`](https://github.com/alrra/browser-logos/blob/60644d64dc9dc8b38741d1ac2609a096e68703e8/.github/CONTRIBUTING.md#pull-requests)).

[2020-02-03 04:10] #178 closed

[2020-02-03 07:27] will-stone commented on #178
Thanks @alrra. I agree with your logic here; maybe I should take a similar stance for Browserosaurus 🤔

[2020-06-24 00:33] alrra opened #184 "Add new Safari logos"
Safari for `macOS Big Sur` comes with a new logo.

<img width="1440" alt="Safari for macOS Big Sur logo"  src="https://user-images.githubusercontent.com/1223565/85481869-8a0c0280-b577-11ea-89e7-3f060a2c0a79.png">

Ref: https://www.youtube.com/watch?v=GEZhD3J89ZE&t=1h19m02s

[2020-06-25 23:11] alrra commented on #184
New `Safari Technology Preview` logo:

![New Safari Technology Preview logo:](https://user-images.githubusercontent.com/1223565/85804409-67f0bc80-b6fe-11ea-90e3-ad6ac5eb62b3.png)

[2020-06-26 05:24] mathiasbynens commented on #184
@jensimmons, can you help? Is there an official high-res (ideally SVG) version of these logos you can share?

[2020-06-26 07:38] SuperSandro2000 opened #185 "Changing branch to main broke every direct link"
Your decision to switch the default branch to main without any redirection broke direct linking to images. This probably affects many more people who used  direct links in readmes instead of js packages.

https://github.com/codimd/server/blob/e46d520ca234c05cfe2431c5b7ab61b96194962e/README.md#browser-support

[2020-06-26 07:59] alrra commented on #185
@SuperSandro2000 Linking directly to GitHub and not even to a specific commit, has never been a good idea. [Things are moved around all the time](https://github.com/alrra/browser-logos/issues/100), that's why the `README.md` file [specifies some recommended ways](https://github.com/alrra/browser-logos/tree/23fa2d822c0ee423c6f6de54a665da05b386379b#getting-the-browser-logos).

[2020-06-26 07:59] #185 closed

[2020-06-26 08:03] SuperSandro2000 commented on #185
None of these is really practical for readmes on github. Adding a new entry where you just link to ``HEAD`` instead of master would be a good alternative for such use cases.

[2020-07-03 04:51] alrra commented on #177
@zwergius Sorry for the delayed answer, this issue just skipped me.

This is not an issue with this project per se. This problem will exists with any SVGs that are not vetted / hand crafted by the author of the page they are included in (it's similar to including a bunch of different random 3rd party CSS and expect them to never interfere with each other or with the page's CSS).

---

To overcome

[2020-07-03 04:51] #177 closed

[2020-07-08 22:10] gottabeleGIT commented on #184
The new Safari (with the new logo) should also be available on Catalina and Mojave and Apple already has a Catalina build for the latest STP with the new logo

[2020-07-15 10:13] shashircciit opened #186 "Getting error when installing the package"
Getting an error when I am doing npm install alrra/browser-logos#67.0.2

npm install alrra/browser-logos
npm ERR! code 128
npm ERR! Command failed: git clone --mirror -q https://github.com/alrra/browser-logos.git /Users/xxxxxxx/.npm/_cacache/tmp/git-clone-2d0f0b3d/.git
npm ERR! warning: templates not found in /var/folders/r4/qg022ykn1072fwl32p3wq2ss0kxw08/T/pacote-git-template-tmp/git-clone-58c8a6

[2020-07-15 14:44] alrra commented on #186
@shashircciit Can you try again? Run:

 `npm install alrra/browser-logos#67.0.2 --loglevel silly`

(Note: it will take a bit).

If it fails, consider providing more information such as: the output, the content of the `debug.log` file, the `npm` version,  OS information, etc.

Alternatively consider [installing the only the logos you need](https://github.com/alrra/browser-logos#1-get-individual-log

[2020-07-18 01:55] #186 closed

[2020-07-22 05:41] nick-botticelli opened #188 "Add Lossless WebP Support"
According to [Can I use](https://caniuse.com/#feat=webp), at least 80% of all internet users currently use browsers that support the lossless WebP image format. WebP consistently provides lower file sizes and also reportedly [decodes faster than PNG](https://developers.google.com/speed/webp/docs/webp_lossless_alpha_study).

For example, encoding the chrome_128x128.png image in this repository to a

[2020-07-25 23:16] gottabeleGIT commented on #184
It seems that `Safari.app` in macOS Big Sur DB 3 has the new icon bundled with it if that helps for extracting the new Safari icon.

[2020-07-31 21:25] #184 closed

[2020-07-31 21:26] alrra commented on #184
Thank you, @gottabeleGIT!

[2020-09-30 21:53] alrra commented on #188
@nick-botticelli Thank you for taking the time to open this issue!
---

Some [new image formats](https://twitter.com/kornelski/status/1276110256221949952) are being introduced, so I will pass on this for now and will reevaluate this idea at a later time.

[2020-09-30 21:53] #188 closed

[2020-11-15 00:07] scribblemaniac opened #190 "Add `Finebits Internet Browser` logo"
![finebits-internet-browser](https://user-images.githubusercontent.com/3461051/99159505-1f7c7000-269a-11eb-81a6-efdae78fb934.png)
Logo taken from official source here: https://www.microsoft.com/en-us/p/internet-browser/9nblggh3tbjn?activetab=pivot:overviewtab
Notable as one of the only major browsers for the Xbox One (known on the platform as simply "Internet Browser").
I'm not sure if it's being

[2020-11-15 04:32] alrra commented on #190
Looking a bit into things, it doesn't seem like it has been update in a while.

Also, given that the Xbox One consoles come with Microsoft Edge by default and probably web browsing isn't the main thing people do on that platform, I'll pass on this one.

---

@scribblemaniac  thank you for your suggestion!

[2020-11-15 04:32] #190 closed

[2021-01-04 12:42] will-stone opened #194 "Quantifying the new browser criteria"
Hi @alrra,

Browserosaurus maintainer here 👋 I've recently put Browserosaurus into what I'm calling [_Public Feature Complete_](https://github.com/will-stone/browserosaurus/blob/master/CONTRIBUTING.md) where I'm no longer taking feature requests including adding new browsers. I realised that I probably shouldn't cut off _all_ new browser requests as there may be some big ones that I miss. I was re

[2021-02-17 07:04] alrra commented on #194
@will-stone I do apologize for the delayed answer, I was and am currently busy in my day-to-day life.

---

Sure!

For this repository I think it all boils down to the following question: Will a significant amount of people actually need/use this logo now and in the future (be it for a presentation, show browser support, etc.)?

From the data I've seen over the years and to no surprise, people are

[2021-02-17 07:20] will-stone commented on #194
Thanks for the reply @alrra. No worries, I’m also rather busy: we got a puppy and so I’m basically tired 100% of the time now 😆 Hopefully I can put some time aside for this soon but maybe a kind volunteer will see this and offer to help out 🥺

[2021-02-17 07:36] alrra commented on #194
@will-stone Cute! ...and since the internet always needs more puppy pictures, care to share some? :D

[2021-02-17 08:01] will-stone commented on #194
<img src="https://user-images.githubusercontent.com/654103/108172971-6e9ccb80-70f5-11eb-852e-c28d27616743.png" height="500" alt="" />

He's a 10 week old Cocker Spaniel called Pasty. He's very cute when he's sleeping or playing nicely. The rest of the time he's an auburn whirlwind with piranha's teeth. He's halfway through his vaccinations, and until they're complete he can't go out <he says rocki

[2021-04-09 18:10] diverpl opened #195 "Can't install the package via npm"
Installing using npm (version 7.9.0 on Windows 10) fails:

[code]

When I'm trying to download a [tar.gz archive](https://codeload.github.com/alrra/browser-logos/tar.gz/6d6415833bb9331d998dde1ac88a34f316065fb1) it has file `package.json` missing indeed.

[2021-04-11 05:10] alrra commented on #195
@diverpl Good catch! Thanks for opening this issue!

[2021-04-11 05:10] #195 closed

[2021-04-13 17:05] linuxcyclist opened #196 "new epiphany web browser logo"
![org gnome Epiphany](https://user-images.githubusercontent.com/82463571/114592193-4db5aa00-9c50-11eb-9f51-46a0636f6cd5.png)
![org gnome Epiphany](https://user-images.githubusercontent.com/82463571/114592293-5e662000-9c50-11eb-95e6-ecdeac2d31a8.png)

[2021-04-13 17:53] alrra commented on #196
@linuxcyclist Can you provide more information? I don't really understand what you are referring to.

---

The Web (f.k.a. Epiphany) browser logo has been [recently updated](https://github.com/alrra/browser-logos/blob/9c2870eaa385dee6b87062bcfeec78e70ea59ca5/src/web/CHANGELOG.md#breaking-changes).

See also: https://wiki.gnome.org/Apps/Web.

![Web (f.k.a. Epiphany) new browser logo](https://user-i

[2021-04-13 17:53] #196 closed

[2021-04-13 22:00] diverpl opened #197 "Incorrect version info?"
After installing the package using npm my `package.json` file looks like this (excerpt):

[code]

Version number for browser-logos looks weird. Is this correct?

[2021-04-13 22:42] alrra commented on #197
@diverpl Did you run `npm install alrra/browser-logos#70.0.0` ?

Can you provide more information on what  things you are using (e.g.: what OS,  what `npm` version, etc.)?

Also, is there any reason why you want the whole thing, and not [specific logos](https://github.com/alrra/browser-logos/tree/9c2870eaa385dee6b87062bcfeec78e70ea59ca5#1-get-individual-logos)?

[2021-04-13 22:45] alrra commented on #197
@diverpl Yes. The main package is pretty big so it's not published on `npm`, the suggestion is just for the rare case where people need all the logos. Usually people install / use [specific logos](https://github.com/alrra/browser-logos/tree/9c2870eaa385dee6b87062bcfeec78e70ea59ca5#1-get-individual-logos) (e.g.: npm install `@browser-logos/firefox`).

[2021-04-13 22:50] #197 closed

[2021-05-05 17:34] alrra opened #198 "Add `SpiderMonkey` logo"
Ref: https://twitter.com/SpiderMonkeyJS/status/1389985112620736516

From: https://github.com/mozilla-spidermonkey/spidermonkey.dev/blob/68658388cd1dd1dddd5cd6ab2e51d9c2d08ae23c/_includes/logos.html:

![SpiderMonkey logos](https://user-images.githubusercontent.com/1223565/117184306-6f0c4080-ad8d-11eb-9b41-1664add2f972.png)

[2021-05-06 03:24] #198 closed

[2021-05-18 21:49] Yash-Singh1 opened #199 "Add `wexond` logo"
@wexond

Wexond is a web browser that is built using `Electron` and `React`

[2021-09-13 11:21] eoghanmurray opened #201 "ie_9-11 SVG very large"
This SVG includes lots of unnecessary embedded .png <image> dumps to achieve things which can be done with SVG filters etc.

https://github.com/alrra/browser-logos/blob/main/src/archive/internet-explorer_9-11/internet-explorer_9-11.svg

For an idea of the size reduction potential; removing them gets the filesize from 647KB to 77KB albeit with a bit of work to do to get the thing looking correct.

[2021-09-13 16:15] alrra commented on #201
@eoghanmurray Yes. Unfortunately, when I last tried, I didn't managed to get something that didn't have very noticeable differences.

Note: SVG filters are not the best when it comes to performance (see: [[1]](https://inkscape.org/learn/tutorials/avoid-performance-issues/), [[2]](https://www.chromium.org/developers/design-documents/image-filters), [[3]](https://codepen.io/tigt/post/improving-svg-r

[2021-09-13 16:15] #201 closed

[2021-09-13 17:07] eoghanmurray commented on #201
Thanks!

Suspected this at the back of my mind, but ignored it... good to see the references and I think actually some of the ones I did on the safari SVG could be replaced with radial gradients.

Is there a way of doing a diff and getting a 'score'?

[2021-09-13 22:29] eoghanmurray commented on #201
See #202

[2021-09-17 04:41] alrra commented on #201
@eoghanmurray Yes, see [butteraugli](https://github.com/google/butteraugli).

[2021-09-17 06:46] alrra commented on #199
@Yash-Singh1 Thank you for the suggestion!

---

![](https://user-images.githubusercontent.com/1223565/133736277-408ccf50-358d-4287-93e1-f78e82674611.png)

Closing the issue as the browser is not even released yet.

[2021-09-17 06:46] #199 closed

[2021-09-17 21:00] Yash-Singh1 commented on #199
I am pretty sure that they didn't update the site yet. The main browser is constantly updated and is already in 5.2.0: https://github.com/wexond/browser-base/releases/tag/v5.2.0.

[2021-10-06 10:10] jonkoops opened #203 "Add the NodeJS logo"
Hi, I am using this project's files to add a browser compatibility table to my README. My project also supports NodeJS and I would love to see it here, even if it's not really a browser logo.

[2021-10-11 00:30] alrra commented on #203
@jonkoops Thank you for opening this issue!

I hope you don't link directly to the images in this repository and at least you link to specific version/commit (see also: [this `README.md`](https://github.com/alrra/browser-logos/tree/master#readme)).

Things changed and the idea of what is a browser is more fuzzy these days. So, because of these changes, this project evolved to also contain browser

[2021-10-14 09:17] maroparo opened #204 "Add type declarations"
Library currently missing type declarations and typescript support.

[2021-12-11 04:44] #204 closed

[2022-02-06 17:49] alrra opened #206 "Add new Chromium and Chrome logos"
From https://twitter.com/elvin_not_11/status/1489647023410212869:

<img alt="New Chrome logos announcement tweet" src="https://user-images.githubusercontent.com/1223565/152694027-a036bd6a-88a4-4dd6-af05-aa3d345a19f5.png" width=650>

---

Logos to update:

- [x] Chrome
- [x] Chrome Beta
- [x] Chrome Dev
- [x] Chrome DevTools
- [x] Chrome Canary
- [x] Chromium

[2022-02-08 01:18] alrra commented on #206
![New Chrome logo](https://user-images.githubusercontent.com/1223565/152899587-8685c681-94f5-4c44-bbf6-8b22de5d58dc.svg)

[2022-02-08 12:38] mathiasbynens commented on #206
@alrra, one thing to keep in mind is that in the new logos, the white void gets proportionally thinner at size 128 and above — so it’s not simply a matter of scaling a single logo. I suspect this can still be represented in SVG, perhaps with media queries. Hopefully the official logo assets include an SVG version that captures this accurately.

@elvin-hu, are the new logo assets publicly available

[2022-02-08 17:06] alrra commented on #206
@mathiasbynens Thank you for that information!

@mathiasbynens It seems the logos will be changed starting with version 100 (or at least that was the case for Canary)? Is that correct?

@miquelfire I am not planning to include OS specific ones, so this project will just include the general ones.

[2022-02-11 19:20] Alex313031 opened #207 "Chromium Logos and sources."
I saw the issue regarding the chrome logo, just reminding you to do chromium too. I make my own Chromium fork for linux, win, and macos called Thorium > https://github.com/Alex313031/Thorium/ And I used your chromium svg as a starting point for editing the logo in gimp to make the thorium logo. I rendered it at 8192x8192, added black to the inner ring, and then exported as .png to the various size

[2022-02-14 06:13] alrra commented on #207
@Alex313031 Updated the title for #206 so it's clear that Chromium is also part of that discussion.

Glad you found it useful!

It's usually one of the following:

* Search for them in different places (quite a few are actually included in the project's repository).

* They are provided by people that are involved with the project and/or work for the company that develops the browser.

  e.g.:

[2022-02-14 06:13] #207 closed

[2022-02-16 02:22] Alex313031 commented on #206
@miquelfire @alrra It would be nice to have OS specific ones for chrome and chromium. I make a chromium browser called Thorium that uses a modified form of the chromium logo, and I build for linux, macos, windows, and chromiumos, so I made logos for all of them by using the svg. If only the general logo is uploaded after M101, then I cant provide a matching differentiation like the upstream chromi

[2022-02-16 08:05] alrra commented on #207
From https://github.com/alrra/browser-logos/issues/206#issuecomment-1041025672:

---

@Alex313031 `chromium.svg` was introduced in this [commit](https://github.com/alrra/browser-logos/commit/efd02ef1cd136b10bd7885f3a139d9ddbe569ea6), but I don't remember where exactly I found it. Most probably I just used image search.

ℹ️ If, for example, you use Google image search, you can add [`filetype:svg`](

[2022-02-16 08:06] alrra commented on #206
@Alex313031 As [previously stated](https://github.com/alrra/browser-logos/issues/206#issuecomment-1032851640), I am not planning to include OS specific logos.

Note: OS specific logos have been used for some time.

Here is the current Chrome logo on macOS:

<img src="https://user-images.githubusercontent.com/1223565/154220200-fde927dc-7bbe-458c-bc7a-62e04defea1e.png" width=100>

vs. the general on

[2022-02-17 00:59] argyleink commented on #206
![chrome-beta_64x64](https://user-images.githubusercontent.com/1134620/154383672-cd73a4e5-6e53-476b-897b-f38d2175e78b.png)
![chrome-dev_64x64](https://user-images.githubusercontent.com/1134620/154383675-0427461a-334a-4396-9981-782648e65a48.png)
![chromium_64x64](https://user-images.githubusercontent.com/1134620/154383677-4c6296c9-409b-42db-8091-ec1516a1deb8.png)
![chrome-canary_64x64](https://user

[2022-02-17 01:45] alrra commented on #206
@argyleink Thank you, but at least a 512x512px PNG version would be needed to cover all the sizes that are provided by this project. :(

A better solution would be to have the SVG versions of the logos, everything else can be generated based on that.

I did find [one for the Chrome logo](https://github.com/alrra/browser-logos/issues/206#issuecomment-1032112582) that seems to be pretty close (but d

[2022-02-17 01:55] argyleink commented on #206
here's what i can snag 🙂
![icon-chromium-256](https://user-images.githubusercontent.com/1134620/154389391-eb3a9942-9a3e-464a-8ba9-f029d44824da.svg)
![icon-chrome-stable-256](https://user-images.githubusercontent.com/1134620/154389394-fe46345f-7b62-44a3-87be-4244bb1ed5ad.svg)
![icon-chrome-canary-256](https://user-images.githubusercontent.com/1134620/154389398-b6b58a26-0089-40ff-9fc7-1f821f703952.s

[2022-02-17 02:01] alrra commented on #206
@argyleink Woohoo! Thank you! 🙇‍♂️ I will take care of things tonight and release new versions of the packages.

@argyleink Do you know if the above is true?

[2022-02-17 02:06] alrra commented on #206
I'll use the logos [provided](https://github.com/alrra/browser-logos/issues/206#issuecomment-1042489578) by @argyleink for now. But if better versions become available, let me know!

[2022-02-17 04:45] alrra commented on #206
@argyleink If you update the [`@browser-logos/chrome`](https://www.npmjs.com/package/@browser-logos/chrome), [`@browser-logos/chrome-canary`](https://www.npmjs.com/package/@browser-logos/chrome-canary), and [`@browser-logos/chromium`](https://www.npmjs.com/package/@browser-logos/chromium) packages to `v2.0.0`, they should get the new logos. :)

[2022-02-18 05:05] Alex313031 commented on #206
@argyleink How did you get the new chromium.svg??? Also @alrra and @argyleink thanks for being so ridiculously quick about this, they literally just added the new chromium logos for linux today, completing the set for different platforms.

[2022-02-18 15:57] argyleink commented on #206
perks of working on the Chrome DevRel team 😄

[2022-02-18 19:15] argyleink commented on #206
they didnt provide those where i found the assets, i rolled my own in XD

[2022-02-19 03:47] Alex313031 commented on #206
@argyleink So that svg is an official asset? If so why is it internal? It would make sense to have it in the chromium source, in the resources dir or the chrome/app/theme dir? Also, since you have access to these, is there any way you could get me svgs of the windows, mac, chromiumos, and linux versions (or whichever of those has one that differs from the one here) My browser I make called Thorium

[2022-02-22 16:39] Alex313031 commented on #206
@argyleink Is the bottom one the windows one? It seems the top is the "normal" one which is the same for linux and chromiumos, whereas the mac obviously has the square around it and is more 3D. The windows one is supposed to have a subtle gradient, and it looks like the bottom one has that gradient vs the top one. Or are they actually in order from what you said i.e. win, then mac, then linux? BTW

[2022-02-23 06:11] Alex313031 commented on #206
@argyleink Ahh ok that makes sense and is in line with my initial impression.

[2022-03-15 11:38] Fynnland2 opened #210 "Logo Request: Waterfox browser logo"
- **Website:** https://www.waterfox.net/
- **Github:** https://github.com/WaterfoxCo/Waterfox
- **Github stars:** 2.3k
- **Alexa rank:** 154,289
- **Logo:**

![Waterfox logo png](https://raw.githubusercontent.com/WaterfoxCo/Waterfox/current/browser/branding/waterfox/default256.png)

![Waterfox logo svg](https://raw.githubusercontent.com/WaterfoxCo/Waterfox/a8f18587c4421a8f21f55529db43dd099f1c0992/

[2022-03-16 08:46] mathiasbynens commented on #206
In line with the new Chrome logos, the Chrome DevTools logo has been updated. It can be found here: https://github.com/ChromeDevTools/devtools-logo/tree/HEAD/logos/svg (The PR was https://github.com/ChromeDevTools/devtools-logo/pull/5.) Note that these SVGs are the canonical versions — they are responsive and change based on the size they’re displayed at. These logos have the following breakpoints

[2022-04-07 06:01] alrra commented on #206
@mathiasbynens Thank you, the Chrome DevTools logo has been [updated](https://github.com/alrra/browser-logos/blob/a9b1cbb11b0367f7d39f93712eb7c972a393c51c/src/chrome-devtools/CHANGELOG.md#200-april-6-2022)! 🙇‍♂️

🎉

[2022-06-29 17:01] alrra commented on #206
@mathiasbynens Do you think you will have time or want to work on it anymore? Thank you! 🙇‍♂️

[2022-06-29 17:10] alrra commented on #210
@Fynnland2 Thank you for opening this issue!

The project included the WaterFox logo in the past](https://github.com/alrra/browser-logos/search?q=waterfox&type=commits), but there was no interested in it.

Nowadays, I am more restrictive with what gets added. [If there is no demand for a browser logo or the browser has no historical significance](https://github.com/alrra/browser-logos/issues/194),

[2022-06-29 20:09] alrra commented on #206
@mathiasbynens Ok, thank you for the update.

[2022-10-16 05:20] #206 closed